.todo-container {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.title {
  background-color: aqua;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease;
}

.task-item:last-child {
  border-bottom: none;
}

.task-item.completed span {
  text-decoration: line-through;
  color: #6c757d;
}

.task-item span {
  cursor: pointer;
}

.delete-button {
  padding: 5px 10px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.error-message {
  color: #dc3545;
  text-align: center;
  margin-bottom: 10px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  
  
  

}
.logout-button:hover {
  background-color: #c82333;
}
h3{
  text-align: center;
  color: #007bff;

  
}
.profile{
  
 
}